//container
.footer {
    @extend .nav-header;
}

.footer-content {
    @include footer-display;
    flex-direction: row;

    .foot-links {
        @include footer-display;
    }
    
    .footer-socials {
        max-width: 95px;
    }
}

.logo-footer:hover {
    @include transition;
    opacity: $opacity;
}

.foot-link {
    @include text-medium;
    width: 100%;
    text-decoration: none;

    &:hover {
        @include transition;
        color: $color-transparent;
    }
}

.icon {
    @include title-text-medium;

    &:hover {
        @include transition;
        color: $color-transparent;
    }
}