
.main {
    width: 80%;
    max-width: $content-width;
}

//intro
.title-main {
    @include space-between;
    width: 100%;
    padding-top: 3%;

    .title-text-intro {
        @include title-text-large;
        max-width: 635px;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .purple-text {
            color: $color-purple;
        }
    }
}

.title-first {
    @include title-main;
    color: $color-purple;
}

.title-quote-main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;

    &-quote {
        @include title-quote;
    }

}

//images main
.main-images {
    width: 100%;
    padding-top: 8%;
    @include space-between;

    .main-images-container {
        width: 33%;
        @include center-content;
        justify-content: flex-start;

        .image {
            max-width: 100%;
            padding-top: 5%;
        }
    }
}

//services-main
.services-main {
    @include space-between;
    padding-top: 6%;
    padding-bottom: 6%;

    .services-text {
        @include title-text-medium;
        width: 55%;
    }

    .services-list {
        @include space-between;
        width: 35%;
        align-items: center;
        flex-wrap: wrap;

        .list {
            @include title-quote;
            flex-direction: column;
            font-weight: 400;
            line-height: 35px;
            list-style-type: none;
            color: $color-transparent;
        }
    }
}

//main awards
.awards-main {
    border-top: 2px solid $color-grey;
}

.main-container-awards {
    @include space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    padding: 4% 2%;
    border-bottom: 2px solid $color-grey;

    .awards-content-main {
        @include space-between;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        min-height: 380px;
        
        .award-container {
            @include space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}

/*.award-container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: space-between;
}*/

.big-awards-title {
    @include title-main;
    padding: 0% 4% 2% 0;
}

.award-title {
    @include text-medium;
    padding: 0% 6% 2% 0;
}

.award-info {
    max-width: 200px;
    padding: 0% 6% 2% 0;

    .small-awards-title {
        @include text-small;
        
        .small-text {
            @include text-small;
            color: $color-transparent;
        }
    }
}