.nav-header {
    width: 100%;
    max-width: $content-width;
    padding: 4% 0;
    
    &-menu {
        @include space-between;
        width: 100%;
        align-content: center;
        
        &-links {
            @extend .nav-header;
            max-width: 165px;
        }
    }
}

.logo:hover {
    @include transition;
    opacity: $opacity;
    transform: scale(1.2);
}

.nav-links {
    @include nav-display;
}

.nav-link {
    @include text-medium;
    padding: 0 2%;
    font-weight: bold;
    text-decoration: none;

    .nav-link:hover {
        @include transition;
        color: $color-purple;
    }
}