//theme colors
$color-black: #111111;
$color-white: #F2F2F2;
$color-purple: #4A4FF2;
$color-grey: #D8D8D8;
$color-transparent: rgba(17, 17, 17, 0.6);
$opacity: 0.6;

//fonts & sizes
$base-font: 'Mulish', sans-serif;

//width
$content-width: 1110px;