//variables & functions
@import 'variables';
@import 'mixins';

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: $color-white;
    box-sizing: border-box;
    @include center-content;
    font-family: $base-font;
}

@import 'main';
@import 'nav';
@import 'footer';
@import 'projects.main';